In [1]:
#sklearn time series split

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [2]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [3]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [4]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [5]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [6]:
import numpy as np
from sklearn import metrics
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.feature_selection import SelectKBest, f_regression


pd.options.mode.chained_assignment = None

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [8]:
subset_df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS']
subset_df = subset_df[(subset_df['SALE_PRICE'] > 100000) &
            (subset_df['SALE_PRICE'] < 2000000)]

In [9]:
print(subset_df['SALE_PRICE'].min())
print(subset_df['SALE_PRICE'].max())
print(subset_df['BUILDING_CLASS_CATEGORY'].value_counts())
subset_df.head()

104000
1955000
01 ONE FAMILY DWELLINGS    3151
Name: BUILDING_CLASS_CATEGORY, dtype: int64

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [10]:
subset_df['SALE_DATE'] = pd.to_datetime(subset_df['SALE_DATE'])

In [11]:
subset_df['SALE_DATE'].dtype

dtype('<M8[ns]')

In [12]:
test_df = subset_df[subset_df['SALE_DATE'].dt.month == 4]

In [13]:
test_df['SALE_YEAR'] = test_df['SALE_DATE'].dt.year
test_df['SALE_MONTH'] = test_df['SALE_DATE'].dt.month
test_df['SALE_DAY'] = test_df['SALE_DATE'].dt.day
test_df.drop('SALE_DATE', axis=1, inplace=True)

In [14]:
test_df.head()

      BOROUGH NEIGHBORHOOD  ... SALE_MONTH SALE_DAY
18235       2        OTHER  ...          4        1
18239       2        OTHER  ...          4        1
18244       3        OTHER  ...          4        1
18280       3        OTHER  ...          4        1
18285       3        OTHER  ...          4        1

[5 rows x 23 columns]

In [15]:
train_df = subset_df[(subset_df['SALE_DATE'].dt.month >= 1) &
          (subset_df['SALE_DATE'].dt.month < 4)]

In [16]:
train_df['SALE_YEAR'] = train_df['SALE_DATE'].dt.year
train_df['SALE_MONTH'] = train_df['SALE_DATE'].dt.month
train_df['SALE_DAY'] = train_df['SALE_DATE'].dt.day
train_df.drop('SALE_DATE', axis=1, inplace=True)

In [17]:
X_train = train_df.drop('SALE_PRICE', axis=1)
y_train = train_df['SALE_PRICE'].astype('float64')

In [18]:
X_train.isna().sum()

BOROUGH                              0
NEIGHBORHOOD                         0
BUILDING_CLASS_CATEGORY              0
TAX_CLASS_AT_PRESENT                 0
BLOCK                                0
LOT                                  0
EASE-MENT                         2507
BUILDING_CLASS_AT_PRESENT            0
ADDRESS                              0
APARTMENT_NUMBER                  2506
ZIP_CODE                             0
RESIDENTIAL_UNITS                    0
COMMERCIAL_UNITS                     0
TOTAL_UNITS                          0
LAND_SQUARE_FEET                     0
GROSS_SQUARE_FEET                    0
YEAR_BUILT                           0
TAX_CLASS_AT_TIME_OF_SALE            0
BUILDING_CLASS_AT_TIME_OF_SALE       0
SALE_YEAR                            0
SALE_MONTH                           0
SALE_DAY                             0
dtype: int64

In [19]:
X_train.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_YEAR', 'SALE_MONTH', 'SALE_DAY'],
      dtype='object')

In [20]:
X_train.drop(['EASE-MENT', 'APARTMENT_NUMBER'], axis=1, inplace=True)

In [21]:
cat_col_list = X_train.describe(exclude='number').columns

In [22]:
encoder = ce.OneHotEncoder(use_cat_names=True)

In [23]:
X_train_enc = encoder.fit_transform(X_train)

In [24]:
X_train_enc.head()

     BOROUGH_3  BOROUGH_4  BOROUGH_2  ...  SALE_YEAR  SALE_MONTH  SALE_DAY
44           1          0          0  ...       2019           1         1
61           0          1          0  ...       2019           1         1
78           0          0          1  ...       2019           1         2
108          1          0          0  ...       2019           1         2
111          1          0          0  ...       2019           1         2

[5 rows x 3434 columns]

In [25]:
selector = SelectKBest(score_func=f_regression, k=10)

In [26]:
y_train.dtype

dtype('float64')

In [27]:
X_train_enc.dtypes.value_counts()

int64      3428
float64       6
dtype: int64

In [28]:
X_train_enc = selector.fit_transform(X_train_enc, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [29]:
ridge_model = Ridge(normalize=True)

In [30]:
ridge_model.fit(X_train_enc, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [31]:
X_test = test_df.drop(['SALE_PRICE', 'EASE-MENT', 'APARTMENT_NUMBER'], axis=1)

In [32]:
X_test_enc = encoder.transform(X_test)

In [33]:
X_test_enc = selector.transform(X_test_enc)

In [34]:
y_test = test_df['SALE_PRICE']

In [35]:
y_pred = ridge_model.predict(X_test_enc)

In [36]:
y_pred.shape

(644,)

In [37]:
y_test.shape

(644,)

In [38]:
metrics.mean_absolute_error(y_test, y_pred)

182514.05696887212

In [39]:
metrics.r2_score(y_test, y_pred)

0.24752464829504306