Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
import numpy as np
import category_encoders as ce
from sklearn.feature_selection import SelectKBest
from sklearn.linear_model import Ridge
import plotly.express as px
from sklearn.metrics import mean_absolute_error

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [5]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [6]:
 # Use a subset of the data where
 # BUILDING_CLASS_CATEGORY == '01 ONE FAMILY DWELLINGS'
 # and the sale price was more than 100 thousand
 # and less than 2 million.

 df = df[df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS' ]
 df = df[(df['SALE_PRICE'] > 100000) &
         (df['SALE_PRICE'] < 2000000)]

df.head()

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 21 columns]

In [7]:
px.bar(y = df['BUILDING_CLASS_AT_PRESENT'].value_counts(), x = df['BUILDING_CLASS_AT_PRESENT'].value_counts().index)

In [8]:
df.describe(exclude = 'number')

       BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE   SALE_DATE
count     3151         3151  ...                           3151        3151
unique       5            6  ...                             11          91
top          4        OTHER  ...                             A1  01/31/2019
freq      1580         2990  ...                           1186          78

[4 rows x 10 columns]

In [9]:
df.describe(include = 'number')

              BLOCK          LOT  ...  TAX_CLASS_AT_TIME_OF_SALE    SALE_PRICE
count   3151.000000  3151.000000  ...                     3151.0  3.151000e+03
mean    6917.976515    75.981593  ...                        1.0  6.285601e+05
std     3963.326705   161.089514  ...                        0.0  2.929904e+05
min       21.000000     1.000000  ...                        1.0  1.040000e+05
25%     4016.000000    21.000000  ...                        1.0  4.475000e+05
50%     6301.000000    42.000000  ...                        1.0  5.680000e+05
75%    10208.500000    69.000000  ...                        1.0  7.600000e+05
max    16350.000000  2720.000000  ...                        1.0  1.955000e+06

[8 rows x 11 columns]

In [10]:
# Drop features with high cardinality, null, high skew,
# and unique values.

drop_list = ['BUILDING_CLASS_CATEGORY',
             'EASE-MENT',
             'ADDRESS',
             'APARTMENT_NUMBER']
#             'BOROUGH',
#             'BLOCK',
#             'LOT',
#             'RESIDENTIAL_UNITS',
#             'COMMERCIAL_UNITS']

df.drop(drop_list, axis = 1, inplace = True)

In [11]:
# Remove commas andCast LAND_SQUARE_FEET from string to int

df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].apply(lambda x: x.replace(',', ''))
df['LAND_SQUARE_FEET'] = df['LAND_SQUARE_FEET'].astype('int')

In [12]:
 # Do train/test split. Use data from January â€” March 2019 to train.
 # Use data from April 2019 to test.

df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format = True)

df['YEAR'] = df['SALE_DATE'].dt.year
df['MONTH'] = df['SALE_DATE'].dt.month
df['DAY'] = df['SALE_DATE'].dt.day

df = df[df['YEAR'] == 2019]
df.drop('SALE_DATE', axis = 1, inplace = True)

train = df[(df['MONTH'] >= 1) &
        df['MONTH'] <= 3]
X_train = train.drop('SALE_PRICE', axis = 1)
y_train = train['SALE_PRICE']

test = df[df['MONTH'] == 4]
X_test = test.drop('SALE_PRICE', axis = 1)
y_test = test['SALE_PRICE']

In [13]:
#  Do one-hot encoding of categorical features.

one_hot = ce.OneHotEncoder(use_cat_names = True)

cat_cols = train.select_dtypes(exclude = 'number')

cat_cols = one_hot.fit_transform(cat_cols)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning:

is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead

In [14]:
num_cols = train.select_dtypes(include = 'number')
X_train_enc = pd.concat([num_cols, cat_cols], axis = 1, join = 'outer')
X_train_enc.head()

     BLOCK  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44    5495  ...                                  0
61    7918  ...                                  0
78    4210  ...                                  0
108   5212  ...                                  0
111   7930  ...                                  0

[5 rows x 51 columns]

In [15]:
kbest = SelectKBest(k = 10)

In [16]:
X_train_selected = kbest.fit_transform(X_train_enc, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning:

Features [ 9 10 11 38 39 50] are constant.

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning:

divide by zero encountered in true_divide

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning:

invalid value encountered in true_divide

In [17]:
X_train_enc.iloc[:, kbest.get_support(indices = True)]

       GROSS_SQUARE_FEET  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
44                1325.0  ...                                  0
61                2001.0  ...                                  0
78                2043.0  ...                                  0
108               2680.0  ...                                  0
111               1872.0  ...                                  0
...                  ...  ...                                ...
23029             1478.0  ...                                  0
23031             1280.0  ...                                  0
23032             1333.0  ...                                  0
23033             1020.0  ...                                  0
23035             1224.0  ...                                  0

[3151 rows x 10 columns]

In [19]:
model = Ridge(fit_intercept = True, normalize = True)

In [20]:
model.fit(X_train_selected, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [21]:
#  Do one-hot encoding of categorical features.

cat_cols = X_test.select_dtypes(exclude = 'number')

cat_cols = one_hot.transform(cat_cols)

num_cols = X_test.select_dtypes(include = 'number')
X_test_enc = pd.concat([num_cols, cat_cols], axis = 1, join = 'outer')

X_test_selected = kbest.fit_transform(X_test_enc, y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning:

Features [ 9 10 11 20 21 23 34 36 37 38 47 49] are constant.

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning:

divide by zero encountered in true_divide

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning:

invalid value encountered in true_divide

In [22]:
y_pred = model.predict(X_test_selected)

In [23]:
np.array(y_test).shape, y_pred.shape

((644,), (644,))

In [25]:
mean_absolute_error(y_test, y_pred)

405070.232113712