Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [8]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [9]:
print(df.shape)
df.info()

(421, 59)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Date            421 non-null    object
 2   Yelp            87 non-null     float64
 3   Google          87 non-null     float64
 4   Chips           26 non-null     object
 5   Cost            414 non-null    float64
 6   Hunger          418 non-null    float64
 7   Mass (g)        22 non-null     float64
 8   Density (g/mL)  22 non-null     float64
 9   Length          283 non-null    float64
 10  Circum          281 non-null    float64
 11  Volume          281 non-null    float64
 12  Tortilla        421 non-null    float64
 13  Temp            401 non-null    float64
 14  Meat            407 non-null    float64
 15  Fillings        418 non-null    float64
 16  Meat:filling    412 non-null    float64
 17  Uniformity      419 non-null    float64
 18  Salsa           396 non-null    float64
 19  Synergy         419 non-null    float64
 20  Wrap            418 non-null    float64
 21  Unreliable      33 non-null     object
 22  NonSD           7 non-null      object
 23  Beef            179 non-null    object
 24  Pico            158 non-null    object
 25  Guac            154 non-null    object
 26  Cheese          159 non-null    object
 27  Fries           127 non-null    object
 28  Sour cream      92 non-null     object
 29  Pork            51 non-null     object
 30  Chicken         21 non-null     object
 31  Shrimp          21 non-null     object
 32  Fish            6 non-null      object
 33  Rice            36 non-null     object
 34  Beans           35 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         8 non-null      object
 40  Sauce           38 non-null     object
 41  Salsa.1         7 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             2 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             5 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            3 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(39)
memory usage: 194.5+ KB

In [10]:
df[df['Beef']!='NaN']

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [11]:
df[df['Chips']!=0]['Chips'].value_counts()

x      21
X       3
Yes     1
No      1
Name: Chips, dtype: int64

In [12]:
df = df.replace(to_replace=['X','x'], value=1)
df = df.replace(to_replace=np.NaN, value=0)
print(df.head())
print(df.tail())

      Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2  ...     0.0   0.0       0.0  False
1  California  1/24/2016   3.5     3.3  ...     0.0   0.0       0.0  False
2    Carnitas  1/24/2016   0.0     0.0  ...     0.0   0.0       0.0  False
3       Asada  1/24/2016   0.0     0.0  ...     0.0   0.0       0.0  False
4  California  1/27/2016   4.0     3.8  ...     0.0   0.0       0.0   True

[5 rows x 59 columns]
        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
418       Other  8/27/2019   0.0     0.0  ...     0.0   0.0       0.0  False
419       Other  8/27/2019   0.0     0.0  ...     0.0   0.0       0.0   True
420  California  8/27/2019   0.0     0.0  ...     0.0   0.0       0.0  False
421       Other  8/27/2019   0.0     0.0  ...     0.0   0.0       0.0   True
422       Other  8/27/2019   0.0     0.0  ...     0.0   0.0       0.0   True

[5 rows x 59 columns]

In [13]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)

In [14]:
df['Date'].dtype

dtype('<M8[ns]')

In [15]:
train_df = df[df['Date'].dt.year < 2017]
val_df = df[df['Date'].dt.year == 2017]
test_df = df[df['Date'].dt.year > 2017]

In [16]:
print(train_df['Great'].shape)
print(train_df['Great'].value_counts())
print((train_df['Great'].value_counts()/train_df.shape[0])*100)

(298,)
False    176
True     122
Name: Great, dtype: int64
False    59.060403
True     40.939597
Name: Great, dtype: float64

In [17]:
print(val_df['Great'].shape)
print(val_df['Great'].value_counts())
print((val_df['Great'].value_counts()/val_df.shape[0])*100)

(85,)
False    47
True     38
Name: Great, dtype: int64
False    55.294118
True     44.705882
Name: Great, dtype: float64

In [18]:
print(test_df['Great'].shape)
print(test_df['Great'].value_counts())
print((test_df['Great'].value_counts()/test_df.shape[0])*100)

(38,)
True     22
False    16
Name: Great, dtype: int64
True     57.894737
False    42.105263
Name: Great, dtype: float64

In [19]:
df[df['Great']==True]

         Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
4     California 2016-01-27   4.0     3.8  ...     0.0   0.0       0.0   True
15    California 2016-02-12   4.5     4.4  ...     0.0   0.0       0.0   True
16   Surf & Turf 2016-02-12   0.0     0.0  ...     0.0   0.0       0.0   True
17         Other 2016-02-14   4.0     4.5  ...     0.0   0.0       0.0   True
18         Other 2016-02-14   0.0     0.0  ...     0.0   0.0       0.0   True
..           ...        ...   ...     ...  ...     ...   ...       ...    ...
416        Other 2019-08-27   0.0     0.0  ...     0.0   0.0       0.0   True
417   California 2019-08-27   0.0     0.0  ...     0.0   0.0       0.0   True
419        Other 2019-08-27   0.0     0.0  ...     0.0   0.0       0.0   True
421        Other 2019-08-27   0.0     0.0  ...     0.0   0.0       0.0   True
422        Other 2019-08-27   0.0     0.0  ...     0.0   0.0       0.0   True

[182 rows x 59 columns]

In [20]:
feature_list = ['Burrito',
                'Hunger',
                'Tortilla',
                'Temp',
                'Meat',
                'Meat:filling',
                'Synergy',
                'Beef',
                'Pico',
                'Cheese',
                'Fries',
                'Beans']

In [21]:
X = train_df[feature_list].drop('Burrito', axis=1)

In [22]:
y = train_df['Great']

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
cross_val_score(model, X, y, cv=2)

array([0.85234899, 0.82550336])

In [26]:
cross_val_score(model, X, y, cv=5)

array([0.81666667, 0.81666667, 0.8       , 0.88135593, 0.79661017])

In [27]:
X_test = test_df[feature_list].drop('Burrito', axis=1)

In [28]:
y_test = test_df['Great']

In [29]:
y_pred = model.predict(X_test)

In [30]:
accuracy_score(y_test, y_pred)

0.7631578947368421